In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw02.ipynb")

## Homework 02

This is the second homework.

In [2]:
import pandas as pd
import numpy as np

Here is a dataframe named `df` in which the `fwd` column contains the integers `0` through `10`. The `rev` column descends from `0` to `-10`.

In [6]:
df = pd.DataFrame({
    'fwd': np.arange(10),
    'rev': np.arange(0, -10, -1)
})
df

   fwd  rev
0    0    0
1    1   -1
2    2   -2
3    3   -3
4    4   -4
5    5   -5
6    6   -6
7    7   -7
8    8   -8
9    9   -9

Your job is to sort the rows of `df` using the values in the `rev` column. Assign the result to `sortdf`.

In [9]:
sortdf = df.sort_values('rev') # SOLUTION

In [ ]:
grader.check("1_create_df")

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)