# ASSIGNMENT CONFIG
solutions_pdf: false
template_pdf: false
requirements:
    - pandas
generate: 
    assignment_name: hw02   # Matches the assignment name in Gradescope
    pdf: false
    filtering: true
    pagebreaks: true
    zips: false
#    course_id: 470873        # required
#    assignment_id: 2488189    # required

## Homework 02

This is the second homework.

In [2]:
import pandas as pd
import numpy as np

# BEGIN QUESTION
name: 1_create_df
points: 2

Here is a dataframe named `df` in which the `fwd` column contains the integers `0` through `10`. The `rev` column descends from `0` to `-10`.

In [6]:
df = pd.DataFrame({
    'fwd': np.arange(10),
    'rev': np.arange(0, -10, -1)
})
df

   fwd  rev
0    0    0
1    1   -1
2    2   -2
3    3   -3
4    4   -4
5    5   -5
6    6   -6
7    7   -7
8    8   -8
9    9   -9

Your job is to sort the rows of `df` using the values in the `rev` column. Assign the result to `sortdf`.

# BEGIN SOLUTION

In [9]:
sortdf = df.sort_values('rev')

# END SOLUTION

# BEGIN TESTS

In [24]:
try:
    assert((sortdf['fwd'] == df['fwd'].iloc[::-1]).all())
    assert((sortdf['rev'] == df['rev'].iloc[::-1]).all())
except AssertionError:
    print("sortdf is not properly sorted.")

# END TESTS

# END QUESTION